<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CAB PREDICTION</title>
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <center>
    <div class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="\static\cab1.png" class="d-block w-400" height="450px" alt="Here is an Image">
        </div>
        <div class="carousel-item">
          <img src="\static\cab4.png" class="d-block w-400" height="450px" alt="Here is an Image">
        </div>
        <div class="carousel-item">
          <img src="static\cab3.png" class="d-block w-400" height="450px" alt="Here is an Image">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div>
      <h3 style="color:black;">DYNAMIC PRICE PREDICTION FOR TRAVEL</h3>
      <p style="color:black;font-size:10px;font-family:italic;"> Based on the historical price input data the system predicts the price Dynamically.</p>
    </div>
    <button type="Submit" onclick="window.location.href='{{url_for('home')}}'" class="btn btn-warning btn-lg">Home</button>
    <button type="submit"  onclick="window.location.href='{{url_for('prediction')}}'" class="btn btn-warning btn-lg">Prediction</button>
  </center>
  </body>
</html>
